
body{
    background: #E5E5E5;
}

.main-text{
    position: relative;
    width: 234px;
    height: 24px;


    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
    margin-bottom: -0.5rem;
}
.add-match{
    text-align: center;
    position: relative;
    color: #000000;
    text-decoration: none;
    font-size: 52px;
    display: flex;
    justify-content: center;

}

.matches-block{

    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin-left: 21px;
    margin-bottom: 21px;
}
.matches{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
a:hover{
    color: #000000;
}
.icon{
    width: 25px;
    padding-right: 0.5rem;
}

.fst-part{
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 0.5rem;
}
.fst-part h5{
    padding-right: 1.3rem;
    text-decoration: none;
}
.text{
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    display: flex;
    align-items: center;
}

.tst-part{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
}
.vs{
    color:black;
    display: flex;
    align-items: center;
}
.team2{
    text-align: end;
}
.team{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.match-league{
    margin-top: -1.2rem;
    margin-left: 0.5rem;
    color: black;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
}
.location{
    color: black;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    position: unset;
    bottom: 0;
}
.last-part{
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}